.gitignore
venv
results
models
checkpoints
__pycache__
data.db
Triplets.json
build
dist
run_scripts.spec
run_scripts
evaluateFunction
evaluateFunction.spec
.vscode
clients/
EvalStarling/
pdfReaders/pdf.pdf
pdfReaders/pdfnum.pdf
cmds.txt
questionnaire.xlsx
scripEvaluationst.sql
Docs/